body{
    display: flex;
    flex-direction: column;
    background-color: #FEF7F2;
    margin-left: 0rem;
    margin-right: 0rem;
}

body header {
    display: flex;
    flex-direction: row;
    align-items: center; /* Add this line */
    width: 100%;
    position: relative;
}

.navlist ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering of links */
    justify-content: space-evenly;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center; /* Add this line */ 
    text-align: center;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2dvh;
}

.navlist ul li a {
    text-decoration: none;
    color: #2B308C;
    font-size: large;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.logo img {
    width: auto;
    height: 20dvh;
    margin-right: 5rem;
}

.logo{
    text-align: center;
}

.navlist{
    width: 100%;
}

nav{
    width: 100%;
}

.navlist ul li:hover{
    border-bottom: #C3986B 2px solid;
}

.left{
    text-align: left;
}

.text{
    color: #2B308C;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.heading{
    color: #2B308C;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bolder;
    width: 100%;
}