.first{
    max-width: 100%;
    align-items: center;
    text-align:center;
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.first > .text{
    width: 80%;
    line-height: 1.5;
}

.benefits{
    max-width: 100%;
    align-items: center;
    text-align:center;
    display: flex;
    flex-direction: column;
}

.benefits > .text{
    width: 60%;
}
